<h3>Experience</h3>
<ul class="list-unstyled">
    <li> 2022 - Now: Researcher engineer at the <a href="">Herschlag Lab, Stanford University</a>
    </li>
    <li> 2021-2022: Fellow researcher at the <a href="https://www.micro.seas.harvard.edu/">Harvard Microrobotics
            Lab, Harvard University</a> </li>
    <li>
        2021: Graduate researcher at the <a href="http://www.rrl.epfl.ch/" target="_blank">Reconfigurable
            Robotics
            Lab, EPFL (Swiss Federal Institute of Technology) </a>,
    </li>
    <li> 2019: ML consultant for <a href="https://www.milenia.ch/fr/ target=" _blank">Milenia</a>, Switzerland
    </li>
    <li> 2018: R&D intern at <a href="https://www.oxxius.com/" target="_blank">Oxxius</a>, France </li>
    <li> 2018: R&D intern at <a href="https://www.linkedin.com/company/safetyn/" target="_blank">Safetyn</a>,
        France </li>
</ul>