<div class="content">
  <h3 class="title">{{ post.title }}</h3>
  <div class="col-md-12">

    <p class="excerpt">{{ post.lead_text }}</p>
  
    {% if post.project_link != '' endif %}
    <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i
          class="fa fa-book fa-lg"></i>Description</button></a>
    {% endif %}

    {% if post.github_link != '' endif %}
    <a href="{{ post.github_link }}" class="project-link"><button class="btn btn-default btn-lg"><i
          class="fa fa-github fa-lg"></i>GitHub</button></a>
    {% endif %}

    {% if post.website_link != '' endif %}
    <a href="{{ post.website_link }}" class="project-link"><button class="btn btn-default btn-lg"><i
          class="fa fa-globe fa-lg"></i>{{post.website_name}}</button></a>
    {% endif %}

    {% if post.download_link != '' endif %}
    <a href="{{ post.download_link }}" class="project-link"><button class="btn btn-default btn-lg"><i
          class="fa fa-download fa-lg"></i>Download</button></a>
    {% endif %}


    {% if post.tags != empty %}
    <div class="tags">
      {% for tag in post.tags %}
      <span>{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}

  </div>


  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>