<div class="container">
    <h1 class="text-center">Skills</h1>

    <div class="row" style="margin-top: 50px; margin-bottom: 50px; text-align: center;">

        <div class="col-md-3" style="text-align: left;">
            <h4>Programming & AI</h4>
            <ul class="regular-list">
                <li>Python (Expert), C/C++ (Fluent), ROS, MATLAB</li>
                <li>Bash, Linux, Git, Docker, CI/CD</li>
                <li>Deep Learning, Machine Learning, Pandas</li>
            </ul>
            <br>
        </div>


        <div class="col-md-3" style="text-align: left;">
            <h4>Mechanical Design and Machining</h4>
            <ul class="regular-list">
                <li>
                    Fusion 360, CATIA
                </li>
                <li>
                    Laser cutting, 3D printing
                    and conventional machining.
                </li>
            </ul>
            <br>
        </div>

        <div class="col-md-3" style="text-align: left;">
            <h4>Hardware, Sensing & Control</h4>
            <ul class="regular-list">

                <li>
                    PCB design, Arduino, esp32,
                </li>
                <li>
                    Sensor Fusion (KF/EKF)
                </li>
                <li>
                    Control (PID, MPC).
                </li>
            </ul>
            <br>

        </div>
        <div class="col-md-3" style="text-align: left;">
            <h4>Other</h4>
            <ul class="regular-list">

                <li>
                    English (Fluent), French (Native), Spanish & German (Basics)
                </li>
                <li>
                    Entrepreneurship & Volunteering
                </li>
                <li>
                    Wood work.
                </li>
            </ul>
        </div>
    </div>
</div>