<div class="hero-container">

    <div class="hero-content">

        <h3>Skills</h3>
        <div class="row">

            <div class="col-md-12">
                <h4>Programming & AI</h4>
                <ul>
                    <li>Python (Expert), C/C++ (Fluent), ROS, MATLAB</li>
                    <li>Bash, Linux, Git, Docker, CI/CD</li>
                    <li>Deep Learning, Machine Learning, Pytorch, Pandas, Sklearn</li>
                </ul>
            </div>
            <div class="col-md-12">
                <h4>Mechanical Design and Machining</h4>
                <ul>

                    <li>
                        Fusion 360, CATIA
                    </li>
                    <li>
                        Laser cutting, 3D printing
                        and conventional machining.
                    </li>
                </ul>

            </div>
            <div class="col-md-12">
                <li>
                    <b>Hardware, Sensing & Control</b>:
                    PCB design, Arduino, esp32, Sensor
                    Fusion (KF/EKF), Control (PID, MPC).
                </li>
            </div>
            <div class="col-md">
                <li>
                    <b>Miscellaneous</b>: English (Fluent), French (Native), Spanish & German (Basics), Entrepreneurship
                    &
                    Volunteering experience, wood work.
                </li>
            </div>
        </div>
    </div>

</div>