
<h3>Skills</h3>
<ul>
   <b>Programming & AI</b>: Python (Expert), C/C++ (Fluent), ROS, MATLAB,
    Bash, Linux, Git, Docker, CI/CD, Deep Learning,
    Machine Learning, Pytorch, Pandas, Sklearn.

   <b>Mechanical Design and Machining</b>:
    Fusion 360, CATIA, laser cutting, 3D printing
    and conventional machining.

   <b>Hardware, Sensing & Control</b>:
    PCB design, Arduino, esp32, Sensor
    Fusion (KF/EKF), Control (PID, MPC).

   <b>Miscellaneous</b>: English (Fluent), French (Native), Spanish & German (Basics), Entrepreneurship &
    Volunteering experience, wood work.

</ul>